.card {
  border: none;
}

#cartSize {
  font-weight: bold;
}

.pageHeader {
  text-decoration: none;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item-details {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 10px;
}

.item-title {
  margin: 0;
}

.item-description {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
  color: #0015ff; 
}

.quantity {
  font-style: italic;
  color: #000000; 
  white-space: nowrap;
}

#submitBtn {
  width: 100%;
  font-size: 20px;
}

#tableTitle{
  font-weight: bold;
}

#tableDescription{
  font-size: 0.8rem;
}

@media screen and (max-width: 768px){
  .item-description {
    display: none;
  }
  #priceHeader,
  #amountHeader,
  #tableDescription {
    display: none;
  }

  .item-title {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (min-width: 1400px) {
  .description-container {
    width: 970px; 
  }
}

@media screen and (max-width: 468px){
  .item-title{
    display: none;
  }
}

